<div class="container" style="margin-top: 90px;">
    <h2>Mis Reportes</h2>
    <table class="table" enctype="multipart/form-data">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tipo de Reporte</th>
                <th scope="col">Ubicación</th>
                <th scope="col">Notas</th>
                <th scope="col">Imagen</th>
                <th scope="col">Número de Teléfono</th>
                <th scope="col">Estado</th>
                <th scope="col">Para la surcusal: </th>
            </tr>
        </thead>
        <tbody>
            {{#each usuarios}}
            <tr>
                <th scope="row">{{this.id}}</th> 
                <td>{{this.tipo}}</td>
                <td>{{this.ubicacion}}</td>
                <td>{{this.notas}}</td>
                <td><img src="/uploadsReportes/{{this.image}}" class="card-img-top" alt="Imagen de {{nombre}}"
                        style="max-width: 150px; height: auto;"></td>
                <td>{{this.numeroTelefono}}</td>
                <td>{{this.estado}}</td>
                <td>{{this.surcusal}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>