<div class="container p-4" style="margin-top: 60px;">
    <div class="row">
        {{#each animales}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <img src="/uploads/{{image}}" class="card-img-top" alt="Imagen de {{nombre}}">

                    <a target="_blank">
                        <h3 class="card-title text-uppercase">
                            {{nombre}}
                        </h3>
                    </a>
                    <p class="m-2">Especie: {{especie}}</p>
                    <p class="m-2">Raza: {{raza}}</p>
                    <p class="m-2">Edad: {{edad}} años</p>
                    <p class="m-2">Sexo: {{sexo}}</p>
                    <p class="m-2">Fecha de Ingreso: {{dateString fecha_ingreso}}</p>
                    <p class="m-2">Fecha de Nacimiento: {{dateString fecha_nacimiento}}</p>
                    <p class="m-2">Vacunas: {{vacunas}}</p>
                    <p class="m-2">Esterilizado: {{esterilizado}}</p>


                    <a class="btn btn-danger" href="/animales/delete/{{id}}">
                        Elimina 
                    </a>
                    <a class="btn btn-secondary" href="/animales/edit/{{id}}">
                        Editar
                    </a>


                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>Aun no has puesto en adopcion a alguna de las mascotas de tu veterinario.</p>
                <a href="/animales/add">Crea una!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>